@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
   
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color:#262626;
}

img{
 border:none;
 vertical-align:top;
}



/*-----------------------------------------------------------------*/

#container{
    height:6rem;
    background:#111111;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
}
.sub_menu{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:300px;
    background-color: #262626;
    
    
}
.sub_menu ul li a{
    color:#fff;
}



#container .logo{
    width:10rem;
    height:2rem;    
}


#container > nav > ul{
    display:flex;

}

#container > nav > ul > li ~ li{
    margin-left:3.5rem;
}

#container > nav > ul > li > a{
    color:#fff;
}

#container .game_wrap{
    display:flex;
    align-items: center;
}

#container .game_wrap .login{
    margin-right:25px;
    margin-top:10px;
}


/*main------------------------------------------------------------------------*/

#main_wrap{
    margin-top:6rem;
    position:relative;
}
#main_wrap .main_img img{
    width:100%;
}

#main_wrap .slider{
    position:absolute;
    width:60rem;
    left:50%;
    top:50%;
    transform: translate(-50% ,-50%);
    height:54px;
}

#main_wrap .slider .left{
    position:absolute;
    top:0;
    left:0;
}

#main_wrap .slider .right{
    position:absolute;
    top:0;
    right:0;
} 

#main_wrap .slider .left a span{
    display:block;
    background:url(../image/icon/slide_arrow_left.png) no-repeat;
    width:54px;
    height:54px;
}

#main_wrap .slider .right a span{
    display:block;
    background:url(../image/icon/slide_arrow_right.png) no-repeat;
    width:54px;
    height:54px;
}

/*main_b---------------------------------------------------------------*/




#notice{
    margin:2.5rem auto;
    width:60rem;
    height:16.75rem;
    display:flex;
    justify-content: space-between;
}


#notice .box_wrap{
    width:19rem;
}

#notice .box_wrap .box{
    width:19rem;
    height:14.25rem;
    background-color:#262626;
}

#notice .box_wrap .box .update{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}

#notice .box_wrap .box .update p{
    color:#fff;
    font-size:24px;
    margin-left:10px;
}

#notice .box_wrap .box .update a{
    margin-right:10px;
}
#notice .box_wrap .box .text{
    
}

#notice .box_wrap .box .text span{
    color:#fff;
    display:inline-block;
    line-height:3;
    margin-left:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width:80%;
    font-size:18px;
}


/*nav -----------------------------------*/

.menu{
    margin:0 auto;
    width:60rem;
    display:flex;
    
}

.menu nav{
    width:39.5rem;
    height:6rem;
   
}


.menu nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav ul li a{
    display:block;
    text-align: center;
}

.menu .Banner{
    width:19rem;
    height:6rem;
    margin-left:30px;
}
/*게임 가이드 영역----------------------------------------------------------*/

.game_guide{
    margin-top:50px;
    width:100%;
    height:50rem;
    background:url(../image/img/guide_bg.jpg) no-repeat;
    position:relative;
}

.game_guide .content{
    padding:11.5rem 0 0 21.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:28.5rem;
    height:2.5rem;
}

.game_guide .content h1{
    color:#fff;
    font-size:30px;
}

.game_guide .content_more{
    padding:2.5rem 0 0 21.5rem;
    width:28.5rem;
    height:20.25rem;
}

.game_guide .content_more ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game_guide .content_more ul li:nth-child(3) ~ li{
    margin-top:30px;
}

.game_guide .guide{
    width:38rem;
    height:2rem;
    position:absolute;
    right:3.5rem;
    top:23%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.game_guide .guide h2{
    color:#fff;
    font-size:30px;
}

.game_guide .guide .search{
    border:1px solid #fff;
    box-sizing: border-box;
    width:16.8rem;
    height:2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.game_guide .guide .search p{
    color:#fff;
    font-size:16px;
}

.game_guide .guide_box{
    position:absolute;
    right:3.5rem;
    top:33%;
    width:38.1rem;
    height:20.5rem;
    
}

.game_guide .guide_box ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game_guide .guide_box ul li:nth-child(2) ~ li{
    margin-top:2rem;
}

footer{
    width:100%;
    height:16.5rem;
    background:#111111;
    position: relative;
}

footer .footer_wrap{
    margin:0 auto;
    width:60rem;
}

footer .smilegate{
    width:19rem;
    padding-top:7.5rem;
}

footer .smilegate ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

footer .company{
    position:absolute;
    left:40%;
    top:44%;
    width:39.4rem;
}

footer .company ul{
    display:flex;
    justify-content: space-between;
}

footer .company ul li a{
    font-size:13px;
    font-weight:bold;
    color:#fff;
}

footer .company ul li a span{
    color:#b2009f;
}

footer .company .footer_text{
    margin-top:10px;
}

footer .company .footer_text p{
    color:#c1c1c1;
    font-size:12px;
}

footer .company .footer_text span{
    color:#fff;
    font-size:12px;
}


